.input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 431px;
  label {
    margin-bottom: 10px;
  }
  input {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 16px;
    width: 431px;

    outline: none;
  }
}
@media screen and (max-width: 1220px) {
  .input {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;

    label {
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.33);
      border-radius: 16px;

      outline: none;
    }
  }
}
