.select-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .box-select {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 16px;
    width: 431px;
  }
  p {
    margin-bottom: 10px;
  }
  select {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 16px;
    background: none;
    width: 410px;
  }
}
@media screen and (max-width: 1220px) {
  .select-container {
    select {
      width: 97%;
    }
    .box-select {
      width: 100%;
    }
  }
}
